# Add any directories, files, or patterns you don't want to be tracked by version control

# virtualenv
pip-selfcheck.json
include/
lib/
share/
bin/

# shouldn't be here, but just in case
db.sqlite3
static/
static/*
# python bytecode
__pycache__/
*.py[cod]

/.idea/*
.*.swp
*~

static/*

csv/*
