amqp==2.1.4
appdirs==1.4.0
Babel==1.3
billiard==3.5.0.2
braintree==3.35.0
celery==4.0.2
codegen==1.0
dj-database-url==0.4.2
dj-stripe==0.8.0
Django==1.10.5
django-braces==1.11.0
django-cas-client==1.2.0
django-cas-ng==3.5.6
django-cors-headers==2.0.2
django-extra-views==0.6.4
django-guardian==1.4.6
django-haystack==2.4.1
django-model-utils==2.6.1
django-oscar==1.2
django-phonenumber-field==1.1.0
django-redis-cache==1.7.1
django-tables2==1.0.7
django-treebeard==4.1.0
django-twilio==0.8.0
django-widget-tweaks==1.4.1
djangorestframework==3.4.6
djangorestframework-expiring-authtoken==0.1.4
drfdocs==0.0.11
factory-boy==2.6.1
fake-factory==9999.9.9
funcsigs==1.0.2
gunicorn==19.6.0
httplib2==0.10.3
itsdangerous==0.24
jsonfield==1.0.3
kombu==4.0.2
log==2016.5.28
Markdown==2.6.8
mock==1.3.0
olefile==0.44
packaging==16.8
patterns==0.3
pbr==1.10.0
phonenumbers==7.7.5
phonenumberslite==8.3.2
Pillow==4.0.0
psycopg2==2.6.2
purl==1.3
pyparsing==2.1.10
python-cas==1.2.0
pytz==2016.10
redis==2.10.5
requests==2.13.0
six==1.10.0
sorl-thumbnail==12.3
stripe==1.48.1
twilio==5.7.0
Unidecode==0.4.20
vine==1.1.3
virtualenv==15.1.0
webservices==0.7
whitenoise==3.3.0
