
<div data-page="checkout" class="page">
    <div class="navbar bg-green">
        <div class="navbar-inner">
            <div class="left"><a href="../index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="center">Checkout</div>

        </div>
    </div>


    <div class="page-content">
        <div class="content-block-title color-white">Your orders</div>

        <form class="list-block">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon f7-icons">Deliver to</i></div>
                        <div class="item-inner">
                            <div class="item-title label">Location</div>
                            <div class="item-input">
                                <input type="text" placeholder="Example Building"/>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon f7-icons">By</i></div>
                        <div class="item-inner">
                            <div class="item-title label">Time</div>
                            <div class="item-input">
                                <input type="text" placeholder="11:30"/>
                            </div>
                        </div>
                    </div>
                </li>


            </ul>
        </form>

        <div class="sm-checkout-wrapper color-green"><div class="sm-checkout-title bg-green">$10.50</div></div>

        <div class="content-block"><a href="index.html" class="button button-big button-raised">CONFIRM</a></div>

    </div>
</div>