{% load frontend_extras %}
<div data-page="checkout-view-cart" class="page" id="checkout-page">
    <div class="navbar bg-green">
        <div class="navbar-inner">

            <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="center">Cart</div>

        </div>
    </div>
    <div class="toolbar tabbar bg-green color-white">
        <div class="toolbar-inner">
            <div class="tab-title" id="checkout-total" total="{{ request.session.total }}" class="checkout-total ripple">Total: ${% if not request.session.total %}0.00{% else %}{{ request.session.total }}{% endif %}</div>
            <div class="tab-title">
                <a class="button bg-white color-green checkout-confirm-button">Confirm</a>
            </div>

        </div>


    </div>

    <div class="page-content">

        <div class="content-block-title">Collection details
            <br/>Specify a collection point and a specific timing (if you are available only then!)</div>
        <div class="list-block">

            <form id="checkout-form" method="post">
                {% csrf_token %}

                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-input item-input-field">
                            <textarea id="location" class="" name="location" placeholder="Building 3 Level 3 Block 3"></textarea>
                        </div>
                    </div>
                </div>

                <div class="content-block-title">Deliver in (minutes) (min. 30 minutes)</div>

                <div class="item-content">
                    <div class="item-inner">

                        <div class="item-input">
                               <input id="checkout-deliver-minutes" type="number" name="minutes" placeholder="30">
                        </div>
                    </div>
                </div>


                <div class="content-block-title">Payment</div>
                <ul>


                    <li>
                        <label class="label-radio item-content">
                            <!-- Checked by default -->
                            <input id="wallet-payment-radio" type="radio" name="payment" value="wallet" checked="checked">
                            <div class="item-media">
                                <i class="icon icon-form-radio"></i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Wallet: <span class="checkout-wallet-balance"><i><small>Checking balance..</small></i></span></div>
                            </div>
                        </label>
                    </li>
                    </li>
                    <li>
                        <label class="label-radio item-content">
                            <!-- Checked by default -->
                            <input type="radio" name="payment" value="cash">
                            <div class="item-media">
                                <i class="icon icon-form-radio"></i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Cash on delivery</div>
                            </div>
                        </label>
                    </li>
                    </li>
                </ul>
            </form>
        </div>


        <div class="content-block-title">Items
            <small><i>(Click to delete)</i></small>
        </div>
        <div class="card  bg-lightgreen">
            <div class="card-content">
                <div class="card-content-inner">
                    <div class="row">
                        <div class="col-10 color-white">Qty</div>
                        <div class="col-40 color-white">Name</div>
                        <div class="col-10 color-white">Price</div>
                        <div class="col-10 color-white">Total</div>
                    </div>
                </div>
            </div>


        </div>
        {% for order in orders %}
            <div class="card">
                <a href="#" class="ripple menu-item-href menu-item-href-checkout" cart-id="{{ order.index }}">
                    <div class="card-content">
                        <div class="card-content-inner">
                            <div class="row">
                                <div class="col-10 color-red"> {{ order.quantity }}</div>
                                <div class="col-40">{{ order.item.name }}</div>
                                <div class="col-10">{{ order.item.price }}</div>
                                <div class="col-10 color-green">{{ order.item.price|multiply:order.quantity }}</div>
                            </div>
                            {% if order.notes != None %}
                                <i class="color-lightblue">{{ order.notes }}</i>
                            {% endif %}
                        </div>
                    </div>
                </a>

            </div>
        {% endfor %}


        <div id="checkout-total" class="checkout-total content-block-title">Subtotal: ${% if not request.session.total %}0.00{% else %}{{ request.session.total }}{% endif %}</div>

        <div class="content-block"><a class="button bg-green color-white checkout-confirm-button">Confirm</a></div>


    </div>

</div>


<div class="picker-modal picker-modal-demo">
    <div class="toolbar">
        <div class="toolbar-inner">
            <div class="left"></div>
            <div class="right"><a href="#" class="link close-picker">Done</a></div>
        </div>
    </div>

</div>