<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="theme-color" content="#2196f3">
    <title>Framework7 Material</title>
    <link rel="stylesheet" href="../../build/css/framework7.material.css">
    <link rel="stylesheet" href="../../build/css/framework7.material.colors.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../../static/css/smueats.css" type="text/css">
    <link rel="icon" href="img/icon.png">
</head>
<body>

<div class="views">
    <div class="view view-main">

        <div class="pages navbar-fixed">

            <div data-page="tabs-static" class="page toolbar-fixed">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="center">Pending</div>

                    </div>
                </div>

                <div class="toolbar tabbar">
                    <div class="toolbar-inner"><a href="#tab1" class="active tab-link">ORDERS</a><a href="#tab2" class="tab-link">PENDING</a></div>
                </div>
                <div class="tabs">
                    <div id="tab1" class="page-content tab active">
                        <div class="content-block">


                            <div class="card smu-card-header-pic">
                                <a href="store.html"><div style="background-image:url(http://lorempixel.com/1000/600/nature/3/)" valign="bottom" class="card-header color-white no-border">Shop Name</div>
                                    <div class="card-content">
                                        <div class="card-content-inner">
                                            <p class="color-green">Open Tomorrow!</p>
                                            <i class="color-gray">"Good chickens and potatoes"</i></div>
                                    </div></a>
                                <!--<div class="card-footer"><a href="#" class="link">Like</a><a href="#" class="link">Read more</a></div>-->
                            </div>

                            <div class="card smu-card-header-pic">
                                <a href="store.html"><div style="background-image:url(http://lorempixel.com/1000/600/nature/3/)" valign="bottom" class="card-header color-white no-border">Shop Name</div>
                                    <div class="card-content">
                                        <div class="card-content-inner">
                                            <p class="color-green">Open Now!</p>
                                            <i class="color-gray">"Good chickens and potatoes"</i></div>
                                    </div></a>
                                <!--<div class="card-footer"><a href="#" class="link">Like</a><a href="#" class="link">Read more</a></div>-->
                            </div>
                            <div class="card smu-card-header-pic">
                                <div style="background-image:url(http://lorempixel.com/1000/600/nature/3/)" valign="bottom" class="card-header color-white no-border">Shop Name</div>
                                <div class="card-content">
                                    <div class="card-content-inner">
                                        <p class="color-red">Closed :(</p>
                                        <i class="color-gray">"Good chickens and potatoes"</i></div>
                                </div>
                                <!--<div class="card-footer"><a href="#" class="link">Like</a><a href="#" class="link">Read more</a></div>-->
                            </div>
                            <div class="card smu-card-header-pic">
                                <a href="#"><div style="background-image:url(http://lorempixel.com/1000/600/nature/3/)" valign="bottom" class="card-header color-white no-border">Shop Name</div>
                                    <div class="card-content">
                                        <div class="card-content-inner">
                                            <p class="color-green">Open Now!</p>
                                            <i class="color-gray">"Good chickens and potatoes"</i></div>
                                    </div></a>
                                <!--<div class="card-footer"><a href="#" class="link">Like</a><a href="#" class="link">Read more</a></div>-->
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="page-content tab">
                        <div class="content-block">
                            <h1>Collect</h1>
                            <p>This is tab 2 content</p>
                            <p>Ut ac lobortis lacus, non pellentesque arcu. Quisque sodales sapien malesuada, condimentum nunc at, viverra lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus eu pulvinar turpis, id tristique quam. Aenean venenatis molestie diam, sit amet condimentum nisl pretium id. Donec diam tortor, mollis in vehicula id, vehicula consectetur nulla. Quisque posuere rutrum mauris, eu rutrum turpis blandit at. Proin volutpat tortor sit amet metus porttitor accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut dapibus posuere dictum.</p>
                            <p>Fusce luctus turpis nunc, id porta orci blandit eget. Aenean sodales quam nec diam varius, in ornare ipsum condimentum. Aenean eleifend, nulla sit amet volutpat adipiscing, ligula nulla pharetra risus, vitae consequat leo tortor eu nunc. Vivamus at fringilla metus. Duis neque lectus, sagittis in volutpat a, pretium vel turpis. Nam accumsan auctor libero, quis sodales felis faucibus quis. Etiam vestibulum sed nisl vel aliquet. Aliquam pellentesque leo a lacus ultricies scelerisque. Vestibulum vestibulum fermentum tincidunt. Proin eleifend metus non quam pretium, eu vehicula ipsum egestas. Nam eget nibh enim. Etiam sem leo, pellentesque a elit vel, egestas rhoncus enim. Morbi ultricies adipiscing tortor, vitae condimentum lacus hendrerit nec. Phasellus laoreet leo quis purus elementum, ut fringilla justo eleifend. Nunc ultricies a sapien vitae auctor. Aliquam id erat elementum, laoreet est et, dapibus ligula.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="../../build/js/framework7.js"></script>
<script type="text/javascript" src="../../../static/js/smueats.js"></script>
</body>
</html>