<div data-page="store" class="page toolbar-fixed">
    <div class="navbar">
        <div class="navbar-inner">

            <div class="left"><a href="{% url 'frontend-order-index' %}" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="center">Order</div>
            <div class="right"><a href="{% url 'index' %}" class="back open-panel link icon-only"><i class="material-icons">home</i></a></div>

        </div>
    </div>
    <div class="toolbar tabbar">
        <div class="toolbar-inner"><a class="active tab-link">{{ merchant.name }}</a></div>
    </div>

    {% include 'order/checkout-toolbar.html' %}


    <div class="tabs">
        <div class="page-content active tab">
             <div class="content-block">

        {% for item in items %}

                <div class="card">
                     <a href="#" class="ripple menu-item-href menu-item-href-order" item-id="{{ item.id }}" item-name="{{ item.name }}">
                           <div class="card-content">
                               <div class="card-content-inner">
                                <div class="row">
                                    <div class="col-80">{{ item.name }}</div>
                                     <div class="col-20 color-green">{{ item.price }}</div>
                                </div>
                               </div>
                           </div>
                       </a>

                </div>

        {% endfor %}
        </div>

        </div>


        <!--<a href="dish-order.html" class="button button-raised demo-picker-modal">Order Item</a>-->

    </div>
    </div>
</div>

