.smu-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
    font-size: 5vh;
}
.sm-page-image-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
    font-size: 5vh;
}
.sm-checkout-wrapper {
    text-align:center;
}

.sm-checkout-title {
    font-size: 3em;
    text-align: center;
    /* color: #fff !important; */
    width: auto;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
    padding: 15px 30px 15px 30px;

}

.navbar-hidden {
   display:none;
}

.menu-item-href {
    display: block;
    border-radius: 2px;
    line-height: 36px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    cursor: pointer;
    min-width: 64px;
    padding: 0 8px;
    position: relative;
    overflow: hidden;
    outline: 0;
    border: none;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.tab-title {
        height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    font-size: 15px;
    text-transform: uppercase;
}