{% extends 'base.html' %}

{% block content %}
    <div data-page="tabs-static" class="page toolbar-fixed">
        <div class="navbar">
        <div class="navbar-inner">
            <div class="center" style="font-size:15px; font-weight: 400;"><p>Hello, {{ request.user.username }}!</p></div>

            <div class="right"><a href="{% url 'frontend-logout' %}" class="open-panel link icon-only"><i class="icon material-icons">exit_to_app</i></a></div>

        </div>
    </div>


<div class="page-content">

            <div class="login-screen-title">SMUEats</div>
            <div class="content-block"><a href="{% url 'frontend-order-index' %}" class="button button-big button-raised">Order</a></div>
            <div class="content-block"><a href="pending/pending.html" class="button button-big button-raised">Deliver</a></div>
            <div class="content-block"><a href="pending/pending.html" class="button button-big button-raised">Pending</a></div>
        </div>
    </div>
{% endblock %}
