<div data-page="tabs-static" class="page toolbar-fixed">

    <form class="list-block">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">ENTER SECRET KEY</div>
                        <div class="item-input">
                            <input type="text" placeholder="ABCDEG4"/>
                        </div>
                    </div>
                </div>
                <div class="center"><a href="#" class="link close-popup">Delivered</a></div>
                <div class="right"><a href="#" class="link close-popup">Cancel</a></div>
            </li>



        </ul>
    </form>
</div>