<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="theme-color" content="#2196f3">
    <title>Framework7 Material</title>
    <link rel="stylesheet" href="../../build/css/framework7.material.css">
    <link rel="stylesheet" href="../../build/css/framework7.material.colors.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../../static/css/smueats.css" type="text/css">
    <link rel="icon" href="img/icon.png">
</head>
<body>

<div class="views">
    <div class="view view-main">

        <div class="pages navbar-fixed">

            <div data-page="tabs-static" class="page toolbar-fixed">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="left"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars"></i></a></div>
                        <div class="center">Pending</div>
                        <div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars"></i></a></div>

                    </div>
                </div>

                <div class="toolbar tabbar">
                    <div class="toolbar-inner"><a href="#tab1" class="active tab-link">STALL NAME</a></div>
                </div>
                <div class="tabs">
                    <div id="tab1" class="page-content tab active">
                        <div class="content-block">$3.20</div>
                        <div class="content-block">By 12:30</div>
                        <div class="content-block">SECRET KEY</div>

                        <div class="card">
                        <div class="card-content">
                            <div class="content-block-title">Number ordered</div>
                            <div class="content-block-title">Dish Name</div>
                            <div class="content-block-title">Special Requests</div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="../../build/js/framework7.js"></script>
<script type="text/javascript" src="../../../static/js/smueats.js"></script>
</body>
</html>