{% extends 'base.html' %}


{% block content %}


    <div data-page="tabs-static" class="page toolbar-fixed">
        <div class="navbar">
            <div class="navbar-inner">

                <div class="left"><a href="{% url 'index' %}" class="back link icon-only"><i class="icon icon-back"></i></a>
                </div>
                <div class="center">Registration</div>
            </div>
        </div>


        <div class="toolbar tabbar">
            <div class="toolbar-inner"><a id="register-steps-tab-1" class="register-steps-tab no-ripple tab-link">OTP</a><a id="register-steps-tab-2" class="register-steps-tab no-ripple tab-link">Verify</a><a
                   id="register-steps-tab-3" class="register-steps-tab no-ripple tab-link">Confirm</a></div>

        </div>


        <div class="page-content login-screen-content">


             <div class="tabs-animated-wrap">
            <div class="tabs">
                <div id="registration-1" class="active page-content tab">
                    <div class="content-block">
                        <div class="login-screen-title">Enter your phone number</div>
                        <div class="content-block">PDPA todo: (get law students)</div>

                    </div>



                        <div class="list-block">
                            <ul>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Number</div>
                                        <div class="item-input">
                                            <input id="register-phone" type="text" name="username"
                                                   placeholder="9xxxxxxx">
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="list-block">
                            <div id="register-init-button" class="content-block"><a
                                    class="button bg-green color-white">DONE</a></div>
                            <div class="content-block"><div class="button bg-green color-white please-wait-verify" style="display:none">Please wait.. <span class="color-white preloader"></span><br/></div>

                        </div>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}"/>

                </div>
                <div id="registration-2" class="page-content tab">
                    <div class="content-block">
                        <div class="login-screen-title">Token</div>
                        <div class="content-block">Please enter the 5 digit code that's been sent to you via SMS</div>

                    </div>



                        <div class="list-block">
                            <ul>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Token</div>
                                        <div class="item-input">
                                            <input id="register-token" type="text" name=token"
                                                   placeholder="Token">
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="list-block">
                            <div id="register-verify-button" class="content-block"><a
                                    class="button bg-green color-white">VERIFY</a></div>

                        </div>
                        <input type="hidden" name="next" value="{{ next }}"/>

                </div>
                <div id="registration-3" class="page-content tab ">
                    <div class="content-block">
                        <div class="login-screen-title">Last step..</div>
                        <div class="content-block">Pick your username and password</div>

                    </div>




                        <div class="list-block">
                            <ul>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Username</div>
                                        <div class="item-input">
                                            <input id="register-username" type="text" name="username"
                                                   placeholder="Your username">
                                        </div>
                                    </div>
                                </li>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Password</div>
                                        <div class="item-input">
                                            <input id="register-password" type="password" name="password"
                                                   placeholder="Your password">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="list-block">

                           <!-- <div class="list-block-label">I agree to the Terms and Conditions</div>-->
                            <div id="register-confirm-button" class="content-block"><a
                                    class="button bg-green color-white">REGISTER</a></div>
                              <div class="content-block"><div class="button bg-green color-white please-wait-register" style="display:none">Please wait.. <span class="color-white preloader"></span><br/></div>

                            <div class="list-block-label">
                                <small>Consumer advisory - The SMUEats payment service is regarded as a stored value
                                    facility under Singapore law. BeepBeep, the holder of the BeepBeep stored value
                                    facility, does not require the approval of the Monetary Authority of Singapore.
                                    Consumers (Users) are advised to read these terms and conditions carefully
                                </small>
                            </div>

                        </div>
                </div>
            </div>
             </div>
        </div>
    </div>
    </div>







{% endblock %}