{% extends 'base.html' %}
{% load frontend_extras %}
{% load cache %}
{% block content %}
    <div data-page="deliver-index" class="page">
        <div class="navbar bg-orange">
            <div class="navbar-inner">
                <div class="left"><a href="{% url 'index' %}" class="back link icon-only"><i class="icon icon-back"></i></a>
                </div>
                <div class="center">Deliver</div>
                {% include 'home-button.html' %}


            </div>
        </div>
        <div id="deliver-open-orders-wrapper">
            <div class="page-content" id="deliver-open-orders">

                <div class="content-block-title">Open Orders</div>
                <div class="list-block">

                    {% for order in orders %}
                    {% cache 500 order_deliver_card order.id %}
                        <div class="card">
                            <a href="{% url 'frontend-deliver-details' order_id=order.id %}" style="ripple">
                                <div style="" valign="bottom" class="card-header">
                                    <div class="row" style="width:100%">
                                        <div class="col-20">${{ order.items|items_total }}</div>
                                        <div class="col-30">{{ order.unique_merchants }} store(s)</div>
                                        <div class="col-30">{{ order.items.count }} order(s)</div>

                                    </div>
                                </div>

                                <div class="card-content">
                                    <div class="card-content-inner">
                                        Deliver to: <b>{{ order.location }}</b> by <span
                                            class="color-orange"> {{ order.timeout_by }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        </div>
                      {% endcache %}
                        {% endfor %}

                <div class="page-conntent">


                </div>
                <script type="text/javascript">
                    smuEats.hidePreloader();

                </script>
            </div>
        </div>
    </div>
{% endblock %}